DOMAIN_NAME=#domain
USER=#login

# MYSQL SETUP
SQL_ROOT_PASSWORD=#password
SQL_DATABASE=#db_name
SQL_USER=#user_name
SQL_PASSWORD=#user_pass
SQL_HOST=#host

# WORDPRESS SETUP
WP_ADMIN_USER=#user
WP_ADMIN_PASSWORD=#password
WP_ADMIN_EMAIL=#email

WP_USER=#user
WP_PASSWORD=#password
WP_EMAIL=#email